body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: blueviolet;
}

.cv-container {
  max-width: 600px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 36px;
}

.header p {
  font-size: 18px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section li {
  margin-bottom: 5px;
}
